header {
    background-color:#b4cbc5;
    color: #013005;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: #17048f;
}


main{
    background-color: #e2e7cc;
    color: #013005;
    max-width: 800px;
    margin: 0 auto;
    
    display: flex;
    justify-content: center; 
    align-items: center; 

    gap: 10px; /* Cria um espaço controlado de 20px entre a imagem e o texto */
    padding: 10px; /* Evita que o conteúdo cole nas bordas do fundo verde */
    
}
 img{

    width: 80px;
   
    border: 4px solid #090435;
    height:80px ;
    
 }

.artigo-autor {
font-weight: bold;
}


